{% extends "base.html" %}

{% block title %}Developer Pages{% endblock %}

{% block content %}
    <div class="container-fluid">
    	<div class="row">
	        <div class="col-xs-12 col-md-8">
        		<div class="panel panel-default">
				    <div class="panel-heading">
				      <h3 class="panel-title">
				      	{% url 'add_game' as url %}
				      	Your games <a href="{{url}}" class="btn btn-success btn-xs pull-right" style="color:#fff;">Add new game</a>
				      </h3>
				    </div>
				    <div class="panel-body">
				    	{% if games %}
    						{% for game in games %}
						    	<div class="list-product-wrapper clearfix" id="{{game.id}}">
							        <div class="product-title-description">
							            <h3>{{game.name}}</h3>
							            <div>{{game.description}}</div>
							            <div>Total Number of purchases:
                                            <span class="text-success">
                                                {{game.total_bought}}
                                            </span>
                                        </div>
							        </div>
							        <div class="list-product-buy-wrapper">
							            <a id="{{game.id}}" class="btn btn-primary btn-edit" href="#">Edit</a>
							        </div>
							    </div>
							{% endfor %}

						{% else %}
							No games found.
						{% endif %}
				    </div>
			    </div>
	        </div>
	        <div class="col-xs-12 col-md-4">
	        	<div class="panel panel-success">
				    <div class="panel-heading">
				      	<h3 class="panel-title">Recent purchases</h3>
				    </div>
	        		<div class="panel-body">
                        {% if transactions %}
    						{% for t in transactions %}
                                <h4>{{t.game.name}}</h4>
                				<ul>
                					<li><b>Purchased date:</b> {{t.buy_completed}}</li>
                					<li><b>Price:</b> {{t.game.price}}</li>
                					<li><b>Buyer:</b> {{t.buyer.username}}</li>
                				</ul>
                            {% endfor %}
                        {% endif %}
	        		</div>
	        	</div>
	        </div>
	    </div>
	    <br />
    </div>
{# Button clicks #}
<script type="text/javascript">

    // edit button clicked
    $('.btn-edit').click(function()
    {
    	location.href = "/dev/game/" + $(this).attr('id');
        return false;

    });

    // Outer div clicked
    $(".list-product-wrapper").click(function()
    {
        location.href = "{% url 'game' %}" + $(this).attr('id');
        return false;
    });

</script>
{% endblock %}
