{% extends "base.html" %}

{% block title %}Developer Pages{% endblock %}

{% block content %}
    <div class="container-fluid">
    	<div class="row">
	        <div class="col-xs-12">
	        </div>
	    </div>

    	<div class="row">
	        <div class="col-xs-12 col-md-8">
	        	<!-- move to template? -->
        		<div class="panel panel-default">
				    <div class="panel-heading">
				      <h3 class="panel-title">Your games <a href="#" class="btn btn-success btn-xs pull-right" style="color:#fff;">Add new game</a></h3>  
				    </div>
				    <div class="panel-body">
				    	<div class="list-product-wrapper">
					        <img class="product-icon" src="https://humblebundle-a.akamaihd.net/misc/files/hashed/5afbc9b47ae92a35245258a3f2a05a05877c2dae.jpg" alt="">
					        <!--<div class="product-icon"><span class="glyphicon glyphicon-tag"></span></div>-->
					        <div class="product-title-description">
					            <h3>Your game</h3>
					            <div>Blaa description</div>
					        </div>
					        <div class="list-product-buy-wrapper">
					            <button class="btn btn-primary">Edit</button>
					        </div>
					    </div>
				    </div>
			    </div>
	        </div>
	    </div>
	    <br />
    </div>
{% endblock %}


