<style type="text/css">
    .list-product-wrapper {
        border:1px solid #eee;
        border-radius: 3px;
        min-height: 66px;
        margin-bottom: 10px;
    }
    .list-product-wrapper .product-icon {
        float: left;
        max-height: 66px;
    }
    .list-product-wrapper .product-title-description{
        float:left;
        margin-left:10px;
    }
    .list-product-wrapper .product-title-description h3 {
        margin: 5px 0px;
    }
    .list-product-wrapper .list-product-buy-wrapper {
        float: right;
    }
    .list-product-wrapper .list-product-buy-wrapper .price {
        float:left;
        margin-top: 20px;
        margin-right: 10px;
    }
    .list-product-wrapper .list-product-buy-wrapper .btn {
        margin-top: 10px;
        margin-right: 10px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <!-- GAME BLOCK -->
            <div class="list-product-wrapper">
                <img class="product-icon" src="https://humblebundle-a.akamaihd.net/misc/files/hashed/4446a7cfe27c1b8aae7c3b17342c4b5e6d38739d.jpg" alt="">
                <div class="product-title-description">
                    <h3>Title of the game</h3>
                    <div>Description Description</div>
                </div>
                <div class="list-product-buy-wrapper">
                    <div class="text-warning price">33€</div>
                    <button class="btn btn-success ">Buy</button>
                </div>
            </div>
            <!-- GAME BLOCK END --> 

            <!-- GAME BLOCK -->
            <div class="list-product-wrapper">
                <img class="product-icon" src="https://humblebundle-a.akamaihd.net/misc/files/hashed/4446a7cfe27c1b8aae7c3b17342c4b5e6d38739d.jpg" alt="">
                <div class="product-title-description">
                    <h3>Title of the game</h3>
                    <div>Description Description</div>
                </div>
                <div class="list-product-buy-wrapper">
                    <div class="text-warning price">33€</div>
                    <button class="btn btn-success ">Buy</button>
                </div>
            </div>
            <!-- GAME BLOCK END --> 
        </div>
    </div>
</div>