{% if all_games %}
    {% for game in all_games %}
    <div class="list-product-wrapper" id="{{game.pk}}">
        <div class="product-icon"><i class="glyphicon glyphicon-tower"></i></div>
        <div class="product-title-description">
            <h3>{{game.name}}</h3>
            <div>{{game.description}}</div>
        </div>
        <div class="list-product-buy-wrapper">
            <div class="text-warning price">{{game.price}}</div>
            {% if user.is_authenticated %}
                <button onclick="location.href='{% url 'buy' game.id %}';"
                class="btn btn-success">Buy</button>
            {% else %}
                <button class="btn btn-success">View</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong>No games found :/</strong>
{% endif %}
