{% for game in all_games %}
    <div class="list-product-wrapper">
        <img class="product-icon" src="https://humblebundle-a.akamaihd.net/misc/files/hashed/5afbc9b47ae92a35245258a3f2a05a05877c2dae.jpg" alt="">
        <div class="product-title-description">
            <h3>{{game.name}}</h3>
            <div>{{game.description}}</div>
        </div>
        <div class="list-product-buy-wrapper">
            <div class="text-warning price">{{game.price}}</div>
            <button class="btn btn-success">Buy</button>
        </div>
    </div>
{% endfor %}


