{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
{% if isBought %}
  <script type="text/javascript">
    gameID = "{{game.pk}}";
    username = "{{user.username}}";
  </script>
  <script src="{% static 'webshop/game.js' %}"></script>
  {% csrf_token %}
  <div class="gameInfo">
  <b>{{ game.name }}</b>
  <div class="user_hs_container">
  {% if user_highscore %}
    user_highscore: <span class="user_hs">{{user_highscore}}</span>
  {% endif %}
  </div>
  <div class="global_hs_container">
  {% if global_highscore  %}
    global_highscore: <span class="global_hs"> {{global_highscore}}</span>
  {% endif %}
  </div>
  </div>
  <div class="errorDiv invisible">error</div>
  <iframe width="100px" id = "targetFrame" class="game-iframe" src="{{game.url}}" allowfullscreen></iframe>
{% else %}
  name: {{ game.name }}
  </br>
  global_highscore: {{global_highscore}}
  </br>
  price: {{ game.price }} €
  </br>
  published: {{ game.published }}
  </br>
  description: {{ game.description }}
  </br>
  {% if user.is_authenticated %}
      <button onclick="location.href='{% url 'buy' game.id %}';"
      class="btn btn-success">Buy</button>
  {% endif %}
{% endif %}

{% endblock %}
