{% if all_games %}
    {% for game in all_games %}
    <div class="list-product-wrapper clearfix" id="{{game.id}}">
        <div class="product-icon"><i class="glyphicon glyphicon-tower"></i></div>
        <div class="product-title-description">
            <h3>{{game.name}}</h3>
            <div>{{game.description}}</div>
        </div>
        <div class="list-product-buy-wrapper">
            <div class="text-warning price">{{game.price}}</div>
            {% if user.is_authenticated and not games_are_owned or games_are_owned == 'False' %}
                <button id="{{game.id}}" class="btn btn-success btn-buy">Buy</button>
            {% endif %}
        </div>
    </div>
    {% endfor %}
{% else %}
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <strong>No games found :/</strong>
{% endif %}

{# Button clicks #}
<script type="text/javascript">

    // Buy button clicked
    $('.btn-buy').click(function()
    {
        location.href = "{% url 'buy' %}" + $(this).attr('id');
        return false;
    });

    // Outer div clicked
    $(".list-product-wrapper").click(function()
    {
        location.href = "{% url 'game' %}" + $(this).attr('id');
        return false;
    });

</script>
