{% url 'add_game' as url %}
<div class="well">
	<form class="form-horizontal" method="post" action="">
	{% csrf_token %}
	  <fieldset>
		<legend>
		  	{% if request.path != url %} <strong>Edit Game: </strong> {{form.name.value}} 
		  	{% else %} <strong>Add new game </strong>
		  	{% endif %}
		</legend>
		{{ form.name_of_field.errors }}
	    <div class="form-group">
	      <label for="inputName" class="col-lg-2 control-label">Game Name</label>
	      <div class="col-lg-10">
	        {{form.name}}
	        <p class="text-danger">{{form.name.errors|striptags}}</p>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="descriptionInput" class="col-lg-2 control-label">Game Description</label>
	      <div class="col-lg-10">
	        {{form.description}}
	        <p class="text-danger">{{form.description.errors|striptags}}</p>
	        <span class="help-block">Describe your game and it's core elements.</span>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputUrl" class="col-lg-2 control-label">Game Url</label>
	      <div class="col-lg-10">
	        {{form.url}}
	        <p class="text-danger">{{form.url.errors|striptags}}</p>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputPrice" class="col-lg-2 control-label">Price (€)</label>
	      <div class="col-lg-10">
	        {{form.price}}
	        <p class="text-danger">{{form.price.errors|striptags}}</p>
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputPublishdate" class="col-lg-2 control-label">Publish Date</label>
	      <div class="col-lg-10">
	        {{form.published}}
	        <p class="text-danger">{{form.published.errors|striptags}}</p> 
	      </div>
	    </div>
	    
        {% if request.path != url %} 
    	<div class="form-group">
      		<div class="col-lg-10 col-lg-offset-2">
      			 <button class="btn btn-danger pull-right" id="{{game.id}}" onclick="confirmMessage('Are you sure that you want to delete this game?')">Delete game</button>
      		</div>
      	</div>
	    {% endif %}
	    <div class="form-group">
	      <div class="col-lg-10 col-lg-offset-2">
	        <a href="{{ request.META.HTTP_REFERER }}"  class="btn btn-default">Cancel </a>
	        <input type="submit" value="Submit" class="btn btn-primary" />
	      </div>
	    </div>
	  </fieldset>
	</form>
</div>
<script type="text/javascript">
var confirmMessage = function(message){
 	var confMessage = window.confirm(message);
 	if(confMessage){
 		deleteGame();
 	}
} 
var deleteGame = function (argument) {
	
}


</script>
