{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container-fluid">
  {% if isBought %}
    <script type="text/javascript">
      gameID = "{{game.pk}}";
      username = "{{user.username}}";
    </script>
    <script src="{% static 'webshop/game.js' %}"></script>
    {% csrf_token %}
   <div class="row">
      <div class="col-xs-12">
        <h3> {{ game.name }}</h3>
        <div class="errorDiv invisible">error</div>


        <iframe width="100px" id = "targetFrame" class="game-iframe" src="{{game.url}}" allowfullscreen></iframe>
      </div>
    </div>
    <br>
      <div class="alert alert-dismissible alert-success message_save nodisplay">

        <strong>Highcore saved!</strong>
      </div>
      <div class="alert alert-dismissible alert-success message_load nodisplay">

        <strong>Game loaded!</strong>
      </div>
      <div class="alert alert-dismissible alert-success message_score nodisplay">

        <strong>Score saved!</strong>
      </div>

    <br>
    <div id="top10container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Game Description </h3>
            </div>
            <div class="panel-body">
              <p>
                {{ game.description }}
              </p>
              <p>
                <span>Game published:</span> <span class="text-info">{{ game.published }}</span>
              </p>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title"> Top-10 </h3>
            </div>
            <div class="panel-body">
              <ul class="list-group top_10_list_ul">
                {% for score in top_10 %}
                  <li class="list-group-item top_10_list">
                    {% if user.username == score.username %}
                      <b>{{score.username}} : {{score.highScore}}</b>
                    {% else %}
                      {{score.username}} : {{score.highScore}}
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <div class="row">
      <div class="col-md-8 col-xs-12">

        <div>
          {% if user.is_authenticated %}
              <button onclick="location.href='{% url 'buy' game.id %}';"
              class="btn btn-success pull-right">Buy</button>
            {% endif %}
          <h3>Game: {{ game.name }} </h3>
          <p>Price: <span class="text-warning">{{ game.price }} €</span></p>
        </div>
        <br />
        <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"> Game details </h3>
            </div>
          <div class="panel-body">
            <p>
              {{ game.description }}
            </p>
            <p>
              <span>Game published:</span> <span class="text-info">{{ game.published }}</span>
            </p>
          </div>

        </div>
    </div>
  </div>
  {% endif %}
  <!-- Your share button code -->
  <div class="fb-share-button" data-href="{% url 'game' game.id %}" data-layout="button_count"></div>
</div>
<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fi_FI/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}
