{% load staticfiles %}

<div class="row">
	<div class="col-xs-12 col-md-4">
		<div class="input-group">
	      	<input type="text" class="form-control" name="search-term" value="" id="search-input" placeholder="Search by game name">
	      	<span class="input-group-btn">
	        	<button class="btn btn-success" type="button" id="search-button"><span class="glyphicon glyphicon-search"></span></button>
	      	</span>
    	</div>
    </div>
    <div class="col-xs-12 col-md-6">
    	<div class="filter-control">
			<h4>Sort by</h4>
			<select class="form-control" id="order-by">
	    		<option value="name">Alphabetical</option>
	    		<option value="price">Price</option>
	    	</select>
    	</div>
    </div>
</div>
<script type="text/javascript" src="{% static 'webshop/search.js' %}"></script>
