
nav.no-radius {
	border-radius: 0px;
}

/* GAME LIST ELEMENT */
.list-product-wrapper {
    border:1px solid #eee;
    border-radius: 3px;
    min-height: 66px;
    margin-bottom: 10px;
}
.list-product-wrapper .product-icon {
    float: left;
    max-height: 66px;
}
.list-product-wrapper .product-title-description{
    float:left;
    margin-left:10px;
}
.list-product-wrapper .product-title-description h3 {
    margin: 5px 0px;
}
.list-product-wrapper .list-product-buy-wrapper {
    float: right;
}
.list-product-wrapper .list-product-buy-wrapper .price {
    float:left;
    margin-top: 20px;
    margin-right: 10px;
}
.list-product-wrapper .list-product-buy-wrapper .btn {
    margin-top: 10px;
    margin-right: 10px;
}
	
