
nav.no-radius {
	border-radius: 0px;
}

/* search component */
.filter-control h4, .filter-control select {
	display: inline-block;
}
.filter-control h4 {
	margin-right: 5px;
}
.filter-control select {
	width: 200px;
}


/* Navigation login dropdown */
.navbar-nav > li > .login-dropdown {
	padding: 15px 15px 5px;
	color: #FFF;
}
/* targeted for not mobile */
@media (min-width: 768px) {
	.navbar-nav > li > .login-dropdown {
		color: #2C3E50;
		/* add more width in larger devices */
	    min-width: 255px;
	}
}

/* GAME LIST ELEMENT */
.list-product-wrapper {
    border:1px solid #eee;
    border-radius: 3px;
    min-height: 66px;
    margin-bottom: 10px;
}
.list-product-wrapper .product-icon {
    float: left;
    max-height: 66px;
}
.list-product-wrapper .product-title-description{
    float:left;
    margin-left:10px;
}
.list-product-wrapper .product-title-description h3 {
    margin: 5px 0px;
}
.list-product-wrapper .list-product-buy-wrapper {
    float: right;
}
.list-product-wrapper .list-product-buy-wrapper .price {
    float:left;
    margin-top: 20px;
    margin-right: 10px;
}
.list-product-wrapper .list-product-buy-wrapper .btn {
    margin-top: 10px;
    margin-right: 10px;
}
.game-iframe{
		width: calc(100% - 2em);
    height: auto;
    margin: auto auto;
    display: block;
	}
.invisible{
	visibility: hidden;
}
